


<li><%= link_to("Les caractéristiques du site: ", {:anchor=>"caracteristique"}) %></li>
<li><%= link_to("Les concours ", {:anchor=>"concours"}) %></li>
<li><%= link_to("Les photos", {:anchor=>"photos"}) %></li>
	<li><%= link_to "Les caractéristiques du site:", surf_url %></li>