<div id="corps" class="corps">
	
	<div class="photo">
		<img src="/images/La_Torche.jpeg" alt="Coucher de soleil sur la plage" title="Coucher de soleil :)"   height="300" width="400" />
		<p class="caption">Coucher de soleil</p>
	</div>	
	
	<h2 id="presentation">Présentation:</h2>
		<blockquote>
	La pointe de la Torche (<em>Beg an Dorchenn</em>) est une presqu'île naturelle située à l'extrémité sud-est de la baie d'Audierne sur la commune de Plomeur dans le pays Bigouden. Le site est un site naturel classé depuis 1965.<p>
		</blockquote>
	<br />
	<h2 id="geographie">Géographie:</h2>
		<blockquote>
	Du côté nord de la presqu'île s'étire la plage de Tréguennec qui se prolonge sur plusieurs kilomètres tout au long de la baie d'Audierne jusqu'à Plozevet. Du côté sud-ouest de la Torche se trouve la plage de Pors-Carn (<em>commune de Penmarc'h</em>) qui se prolonge jusqu'à Saint-Guénolé où se trouve le Musée Préhistorique Finistérien, témoin de l'existence très ancienne d'une activité humaine dans le pays.
		</blockquote>
	<br />
	<h2 id="histoire">Histoire:</h2>
		<blockquote>
	Ancienne sépulture celte, au sommet du promontoire granitique se trouve un tumulus couronné de dolmens encore à demi-enterrés. Ces dolmens (<em>Dochen</em>) ont donné le nom à la pointe, après francisation en 'la torche'. Au cours de la seconde guerre mondiale, les Allemands construisirent sur la Torche des blockhaus dont l'un d'entre eux est aujourd'hui transformé en poste de secours après avoir été jusque dans les années 1980 un refuge de sans domiciles fixes.
		<br />
	==>  Connu sous son nom breton de Beg an Dorchenn qui signifie pointe de la Torche ce site mégalithique du Néolithique a fait l'objet de nombreuses fouilles archéologiques qui ont révélé un nombreux mobilier dont l'essentiel est exposé au musée préhistorique de Pors Carn. Il est attesté que ce site fut occupé dès le Mésolithique. A cette époque là le niveau de la mer était de 10 m plus bas, ce qui faisait de ce site un promontoire, point de vue de premier ordre surplombant la baie d'Audierne.
		</blockquote>
	<br />
	<h2 id="loisirs">Loisirs:</h2>
		<blockquote>
	La Torche est un lieu très visité permettant les activités de sports de glisse et de voile. Notamment le surf, le planche à voile, le kitesurf, le wave-ski, le bodyboard et le char à voile. Il s'y pratique aussi la pêche au bar et aux poissons plats (sole, turbot, etc.)
		</blockquote>
	<br />
	<h2 id="faune_flore">Faune et flore:</h2>
		<blockquote>
	La pointe de la Torche abrite en été la seule colonie nicheuse de Guêpier d'Europe de Bretagne.
		</blockquote><br />
	