<div class="corps_photos">
	
	<div class="photo">
		<img src="/images/La_Torche.jpeg" alt="Coucher de soleil sur la plage" title="Coucher de soleil :)"   height="300" width="400" /><p class="caption">Coucher de soleil</p>
	</div>
	<br />
	<a name="plage"><h2>Plage:</h2></a>
	<table>
		<tr>
			<td><div class="photos"><p><img src="/images/lapointe.jpeg" title="Pointe de la Torche"></p></div></td>
			<td><div class="photos"><p><img src="/images/pointe-la-torche.jpg" title="Pointe de la Torche"></p></div></td>
			<td><div class="photos"><p><img src="/images/torche-france-325774.jpg" title="Coucher de soleil sur la plage"></p></div></td>
		</tr>
	</table>
	
		<a name="surf"><h2>Surf:</h2></a>
		<table>
			<tr>
				<td><div class="photos"><p><img src="/images/torche.jpg" title="Rouleau"></p></div></td>
				<td><div class="photos"><p><img src="/images/surf-la-torche.jpg" title="Tranquille"></p></div></td>
				<td><div class="photos"><p><img src="/images/bzh410.jpg" title="Enoorme vague !"></p></div></td>
			</tr>
		</table>
</div>